body {
  background-color: #9eb9cf;
  overflow-y: hidden;
}

.formContainer {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

h1 {
  text-align: center;
  margin: 13px 0;
}

.formContainer form {
  width: 70%;
  max-width: 450px;
  border: 1px solid #dfefef;
  padding: 30px;
  border-radius: 10px;
  background-color: white;
}

.uiForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;
}

.formField {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formField input {
  border: 1px solid gray;
  padding: 20px;
  border-radius: 4px;
}

.formField input:focus {
  outline: none;
}

.formField label {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 3px;
}

button {
  background: #0563b4;
  width: 100%;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background-color: #0e528d;
}
